@use '../../lib/service.scss' as s;

.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);
    transition: background-color 2s;

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color('light');
    }

    &__content {
        display: grid;
        gap: s.space(4);
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: s.space(2);
    }

    &__label {
        font-size: 14px;
    }

    &__input {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 4px;
    }

    &__button {
        border: 1px solid s.color('light');
        padding: s.space(2);
        border-radius: 8px;
        color: white;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    &__info {
        font-size: 12px;
        color: #797979;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
}

.section__title {
    padding: s.space(3);
    display: flex;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #0059a6;
    justify-content: center;
}

.upper-div {
    display: flex;
    gap: 16px;
}

.small-field {
    width: 100%;
}

.bigger-input {
    padding-bottom: 36px;
}

.redirect__link {
    margin: s.space(4);
    border: 1px solid s.color('light');
    border-radius: 8px;
    background-color: #17b958;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.redirect__link:hover {
    background-color: #3eb96f;
}

.color-blue {
    background-color: #0059a6;
}

.color-blue:hover {
   background-color: #006dcc;
}

.color-red {
    background-color: #a90b0b;
    text-decoration: none;
    justify-content: center;
}

.color-red:hover {
   background-color: #dc1313;
}

.section__box{
    border: 1px solid s.color('light');
    border-radius: 8px;
    box-shadow: 5px 5px 10px s.color('light');
    width: 90%;
    margin: 56px;
}

section {
    display: flex;
    flex-direction: column;
}

.button__box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}