{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- <div class="alert alert__box">
  <h1>{{info}}</h1>
  <a class="alert__button" href="{{link}}">Повернутися</a>
</div> --}}

<div class="alert alert__box">
  <h1>{{info}}</h1>
  <a href="/product-create">Повернутися назад</a>
  <a href="/product-list">Список товарів</a>
</div>
{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}