<main>
  <section>
    <div class="list">
      <h1 class="section__title">Список товарів</h1>
      {{#with data.products}}
      {{#if isEmpty}}
      <mark>Пустий</mark>
      {{else}}
      {{#each list}}
      {{> product-card}}
      {{/each}}
      {{/if}}
      {{/with}}
  </section>
</main>