<main>
  <section>
    <div class="list">
      <h1 class="section__title">Список товарів</h1>
      {{#with data.products}}
      {{#if isEmpty}}
      <mark>Список товарів пустий</mark>
      {{else}}
      <div class="product__list">
        {{> product-card}}
        {{/if}}
      </div>
      {{/with}}
  </section>
</main>