@use '../../lib/service.scss' as s;

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
}

.section__title {
    font-size: 32px;
    font-weight: 600;
    color: #0059a6;
    padding: s.space(3);
}

.product-list {
    display: flex;
    flex-direction: row;

   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 32px;
   padding-right: 32px;
   gap: 16px;
}

.product__card {
    border: 1px solid s.color('light');
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
}

.lower-section {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}