@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchase__product;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

main {
    display: flex;
    flex-direction: column;
    padding: s.space(10);
    align-items: center;
    align-content: center;
    width: 1000px;
    margin-left: 230px;
    height: auto;
    border: 1px solid s.color('light');
    border-radius: 12px;
    padding: 24px;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background-color: #0050FF;
    border-radius: 10px;
    padding: 8px 119px;
    color: white;
}

.product-info__divider {
    width: 100%;
    height: 1px;
    background: #CED4DA;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.heading__title {
    font-size: 32px;
    color: #212529;
    font-weight: 500;
}

.product-card__title {
    color: #212529;
    font-size: 20px;
    font-weight: 500;
}

.product-card__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #212529;
}
.product-card__category{
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid;
    border-radius: 80px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.product-card__category--1{
    color: #008000;
}

.product-card__category--2{
    color: #0050FF;
}

.product__card {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid;
    border-color: #CED4DA;
    border-radius: 12px;
    padding: 16px;
    margin: 8px;
    margin-bottom: 60px;
}

.product-card__button {
    color: white;
    background-color: #0050FF;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    align-self: stretch;
}

.product-info__title {
    color: #0050FF;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.product-info__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #353739;
}
.product-info__category{
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid;
    border-radius: 80px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}

.product-info__button {
    color: white;
    background-color: #0050FF;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }

    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 7px;
    align-self: stretch;
}

.page__title {
    color: #212529;
    font-size: 56px;
}

.product-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1000px;
}

.product-description {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
}

.product-info__image {
    width: 48%;
}
