<main class='main'>
  {{> heading title="Товари" info= "Комп'ютери та ноутбуки/Комп'ютери, неттопи, моноблоки"}}
  <section class='purchase-list'>
    <div class='product-cards'>
      {{#each data.products}}

      {{> purchase-product data=this}}

      {{/each}}
    </div>
  </section>
  {{> heading title= "Товари" info ="Комп'ютери та ноутбуки/Комп'ютери, неттопи, моноблоки"}}
  <div class='product-list'>
    {{#each data.products}}

    {{> purchase-product data=this}}

    {{/each}}
  </div>
</main>