@use '../../lib/service.scss' as s;

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
}

.product__list {
    display: grid;
    width: 100%;

   grid-template-columns: 1fr 1fr;
   gap: s.space(5);
}