@use '../../lib/service.scss' as s;

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
    align-items: center;
    width: 1000px;
}

.product__list {
    display: grid;
    width: 100%;

   grid-template-columns: 1fr 1fr;
   gap: s.space(5);
}

.heading {
display: flex;
flex-direction: column;
gap: 20px;
}

.heading__title {
    font-size: 32px;
    color: rgb(50, 81, 255);
    font-weight: 500;
}