@use '../../lib/service.scss' as s;

@use '../../lib/spotify.scss' as spotify;

.home__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: s.space(6);
}

.main__content {
    height: max-content;
}

.home__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__img {
    display: flex;
    flex-direction: row;
    gap: s.space(8);
}

.home__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: s.space(5);
}

.choose__content {
    display: flex;
    flex-direction: column;
    gap: s.space(4);
}

.home__img {
    display: flex;
    width: 345px;
    height: 345px;
    padding: 88px 88px 87px 87px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4531F2 0.5%, #CEF4E7 100%);
}

.title--center {
    font-size: 40px;
    padding-bottom: 0;
}