@use '../../lib/service.scss' as s;

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.field__label {
    font-size: 14px;
    color: #343A40;
}

.field__input {
    border: 1px solid #CED4DA;
    padding: s.space(2);
    border-radius: 10px;
}

.field--disabled {
    position: absolute;
    display: none;
}