<main class="main">
  {{#with data}}
  <div class="main__content">
    <h1 class="title title--center">Пошук плейлиста</h1>

    <form method="POST" action="/spotify-search" class="search">
      <img src="/svg/spotify-search.svg">
      <input type="search" class="search__input" placeholder="Введіть запит" name="value">
      <button class="search__button">Пошук</button>
    </form>

    <ul class="track__list">
      {{#each list}}
      <li class="playlist">
        <img height="164px" src="{{image}}" alt="{{name}}">
        <div class="playlist__content">
          <strong class="playlist__name">{{name}}</strong>
          <span class="playlist__amount">Кількість пісень: {{amount}}</span>
        </div>
      </li>
      {{/each}}
    </ul>

  </div>
  {{/with}}
</main>